# Python cache files
*.pyc
__pycache__

# Python virtual environment folders
Include
Lib
Scripts
share
etc

# Token file
token.txt
osuapikey.txt

# Local database files
osudb.json

# Temporary files
temp

# Discord logs
discord.log

# youtube-dl files
*.opus
queue
